[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg = "*"
django-environ = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.13"
